<h1>Edit this User </h1>

  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= message %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>


<%= form_with model: @user, local:true do |form|%>

<p>
  <%= form.label :username %>
  <%= form.text_field :username, class:"form-control" %>
</p>
<p>
  <%= form.label :email %>
  <%= form.email_field :email, class:"form-control" %>
</p>
<p>
  <%= form.label :password %>
  <%= form.password_field :password, class:"form-control" %>
</p>
<p class="text-center">
  <%= form.submit class:"btn btn-outline-success text-center" %>
</p>
<% end %>
